/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS*/
body{
	background: black;
	display: flex;
    
}

.post {
	background: white;
	margin-top:5%;
	margin-left: 35%;
	margin-right: 35%;
	height: 95%;
	font-family: Roboto Flex;
}
.post-header-left {
	display: flex;
	font-size: 210%;
	margin: 15px;
	padding-right: 1%;
	padding-left: 1%
}

#left-user {
	font-size: 45%;
	margin-left: 5%;
}
.user-HTML{
	font-weight: bold;
}
.user-name, .user-HTML {
	margin-left: 10%;
	padding: 2%;
}

.post-header, post-header-right {
	display: flex;
	justify-content: space-between;
}

.post-header-right {
	display: flex;
	font-size: 210%;
	margin: 15px;
	padding-right: 1%;
	padding-left: 1%;
  

}
.post-image1 {
	width: 100%;
	height: auto;
}

.post-body {
	display: flex;
	justify-content: space-between;
    font-size: 210%;
	margin: 15px;
	padding-right: 1%;
	padding-left: 1%;
  
}
.post-footer-likes {
	margin-top: 5%;
	margin-left: 3%;
	margin-right: 3%;
	font-size: 12px;

}

.post-footer-caption {
	margin-top: 5%;
	margin-left: 3%;
	margin-right: 3%;
	font-size: 14px;
	line-height: 120%;
}
.bold{
	font-weight: bold;
}